<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询日期</title>
</head>
<body>
    <div style="text-align: center">查询打印机订单情况</div>
    <div style="width: auto;height: auto;border:2px solid red;padding: 10px">
        <div>
            <p>开始时间：
                <input name="strat_data" type="date" value="2018-12-12">
                <input name="strat_time" type="time" value="12:59">
                  结束时间：
                <input name="end_data" type="date" value="2018-12-12">
                <input name="end_time" type="time" value="12:59">
            </p>
            <p>
                <button type="submit" style="width: 60px; height: 35px;text-align: center">查询</button>
            </p>
        </div>
    </div>
</body>
</html>