<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body style="margin: 0px; padding: 0px">
    <div style="background-color:lightslategrey;overflow: auto;">
        <div style="color:darkgreen; font-size: 36px">功能列表</div>
        <li style="list-style-type: none">查询功能
            <ul><a style="text-decoration: none" href="{% url 'login' %}">打印机基本信息查询</a></ul>
            <ul><a style="text-decoration: none" href="{% url 'selectOrder' %}">第二个功能</a></ul>
            <ul>1</ul>
            <ul>1</ul>
            <ul>1</ul>
            <ul>1</ul>
            <ul>1</ul>
            <ul>1</ul>
        </li>
    </div>
</body>
</html>